{erl_opts, [debug_info]}.
{deps, [
    {gproc, "0.9.1"},
    {emqtt, {git, "https://github.com/emqx/emqtt.git", {tag, "1.14.7"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]}
]}.

{alias, [
    {unit, [{eunit, "--module=z21_protocol_tests,z21_events_tests,z21_connection_tests,train_tests,mqtt_bridge_tests"}]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [layout_controller]}
]}.
